{% include 'blog/nav.html' %}

<!DOCTYPE html>
<html>
    <head>
        <title>TechFlocks | Add Post</title>
    </head>

    <body>

    <div class="row">
    <div class="col-md-offset-1 col-md-6">
        <h1>Add a new Post</h1>

        <form id="post_form" method="post" action="">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Add Post" />
        </form>
        </div>
    </div>
    </body>

</html>